        .project-details {
            padding: 80px 0;
        }

        .label{
            font-weight: 800;
        }

        .project-glimpse{

            height: 300px;
            width: 450px;
        }