.projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 80px;
  
}

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo-main {
            font-family: 'Inter', sans-serif;
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--primary-color);
            letter-spacing: 1px;
        }

        .nav-linkss ul {
            display: flex;
            list-style: none;
        }

        .nav-linkss ul {
            margin-left: 30px;
        }

        .nav-linkss a {
            color: var(--primary-color);
            font-weight: 500;
            text-decoration: none;
            position: relative;
            font-size: 1rem;
        }

        .nav-linkss a::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: var(--primary-color);
            transition: var(--transition);
        }

        .nav-linkss a:hover::after {
            width: 100%;
        }